<main>
    <div class="container-edit">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/contatos" method="post" enctype="multipart/form-data" class="form-control">
                    <input type="text" name="nome" id="" placeholder="Digite seu nome..." class="form-control">
                    <input type="text" name="email" id="" placeholder="Digite seu email..." class="form-control">
                    <input type="text" name="ender" id="" placeholder="Digite seu endereço..." class="form-control">
                    <input type="submit" value="Cadastrar" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>

    <div class="container-edit">
        <div class="row">
            {{#each produtos}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="/images/uploads/{{imagem}}" alt="">
                        <div class="textos">
                            <p>{{nome}}</p>
                            <p>{{valor}}</p>
                        </div>
                        <a href="/editar/{{id}}" class="btn btn-warning">Alterar</a>
                        <a href="/remover/{{id}}/{{imagem}}" onclick="return confirm('Tem certeza que deseja remover este produto?');" class="btn btn-danger">Remover</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</main>